@import url('https://fonts.googleapis.com/css?family=Sree+Krushnadevaraya&display=swap');
@import url('https://fonts.googleapis.com/css?family=Catamaran&display=swap');
$totalPages: 8;

:root {
    --margin: 110px;
    --perspective: 1800px;
    --transition: transform 1s .2s, z-index 0s 0.5s;
    --yellow:  #ffce14;
}

%page {
    width: 50%;
    position: absolute;
    right: 0px;
    height: 100%;
    transform-origin: 0 50%;
}

header {
    width: 100%;
    height: 80px;
    margin-bottom: 30px;
    background: pink;
}

footer {
    width: 100%;
    height: 120px;
    margin-top: 30px;
    background: skyblue;
}

body {
    .pages {
        width: 1440px;
        height: 930px;
        margin: 0 auto;
        perspective: var(--perspective);
        box-shadow: 0 41px 38px -20px #0a3150;
        input {
            display: none;
        }

        &_page {
            @extend %page;

            pointer-events: none;

            float: right;
            transform-style: preserve-3d;

            @for $i from 1 through $totalPages {
                &:nth-of-type(#{$i}) {
                    z-index: $totalPages - $i;
                    transition: var(--transition);
                }
            }

            &:nth-of-type(odd) {
                .pages_page__inner {
                    transform: rotateY(180deg);
                }
            }

            &:nth-of-type(1) {
                left: 0;
                z-index: 0;
                transform: rotateY(0deg) !important;
                pointer-events: none;

                .pages_page__inner {
                    transform: rotateY(0deg) !important;
                    background: url(./1.png) no-repeat center/contain;
                }
            }

            &:nth-of-type(2) {
                pointer-events: all;
                .pages_page__inner {  
                    background: url(./2.png) no-repeat center/contain;
                }
            }

            &:nth-of-type(3) {
                .pages_page__inner {
                    background: url(./3.png) no-repeat center/contain;
                }
            }

            &:nth-of-type(4) {
                .pages_page__inner {
                    background: url(./4.png) no-repeat center/contain;
                }
            }

            &:nth-of-type(5) {
                .pages_page__inner {
                    background: url(./5.png) no-repeat center/contain;
                }
            }

            &:nth-of-type(6) {
                .pages_page__inner {
                    background: url(./6.png) no-repeat center/contain;
                }
            }

            &:nth-of-type(7) {
                .pages_page__inner {
                    background: url(./7.png) no-repeat center/contain;
                }
            }

            &:nth-of-type(8) {
                .pages_page__inner {
                    background: url(./8.png) no-repeat center/contain;
                }
            }

            &__inner {
                height: 100%;
                transform-style: preserve-3d;

                .control {
                    position: absolute;
                    z-index: 1;
                    width: 48px;
                    height: 48px;
                    border: 1px solid #EAEAEA;
                    border-radius: 100px;
                    top: 50%;
                    transform: translateY(-50%);
                    left: -64px;
                    cursor: pointer;
                    background: url(./arrow_prev.png) no-repeat center/contain;
                    transition: all .23s;
                    &:hover {
                        box-shadow: 0 0 0 10px rgba(189, 189, 189, 0.3);
                    }
                    &.next {
                        left: auto;
                        right: -64px;
                        background: url(./arrow_next.png) no-repeat center/contain;
                    }
                    label {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        cursor: pointer;
                        z-index: 2;
                    }
                }
            }
        }

        // Triggers

        $input: '+ input + input';
        $p: 0;

        @for $i from 1 through (($totalPages / 2) - 2) {
            $input: $input + '+ input';
        }

        @for $i from 1 through ($totalPages / 2) {

            @debug $i;

            $lpage: '';
            $rpage: '+ div ';

            @if($i == $totalPages / 2) {
                $input: str_slice($input, 0, -9);
            } @else {
                $input: str_slice($input, 0, -8);
            }

            @for $j from 1 through $p {

                @if($i == 1) {

                    $lpage: $lpage + '';
                    $rpage: $lpage + ''; 

                } @else {

                    $lpage: $lpage + '+ div ';
                    $rpage: $lpage + '+ div  ';

                    input[type="radio"]:nth-of-type(#{$i}) {
                        &:checked {
                            & #{$input} #{$rpage} {
                                pointer-events: all;
                                transform: rotateY(-180deg);
                                z-index: 10;
                                transition: var(--transition);

                                // .control {
                                //     box-shadow: 0 0 0 200px rgba(0, 0, 0, 0);
                                // }
                            }

                            & #{$input} #{$rpage} + div {
                                pointer-events: all;

                            }

                            & #{$input} #{$lpage} {
                                pointer-events: none;
                                z-index: 9;
                            }
                        }
                    }
                }
            }
            $p: $p + 2;
        }
    }
}

/* 탭 메뉴 */
.tab-menu {
    width: 100%;
}

.tab-cont {
    width: calc(100% - 40px);
    max-width: 1440px;
    margin: 0 auto;
}

.tab-list-wrap {
    max-width: 1480px;
    margin: 0 auto;
}

.tab-menu .tab-list {
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    // z-index: 2;
    overflow-x: auto;
}

.tab-menu .tab-list::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */
}

.tab-menu .tab-list li {
    padding: 10px 20px;
    border-radius: 70px;
    border: 1px solid #ccc;
    background: #EDEDED;
    transition: all 0.25s;
    cursor: pointer;
}

.tab-menu .tab-list li a {
    width: 100%;
    font-size: 16px;
    color: #656565;
    font-weight: 500;
    text-align: center;
    letter-spacing: -0.64px;
    line-height: 20px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab-menu .tab-list li.on {
    border: none;
    background: #222;
    transition: all 0.25s;
}

.tab-menu .tab-list li.on a {
    font-weight: 700;
    color: #fff;
}

.tab-menu .tab-cont > div {
    position: relative;
    display: none;
}

.tab-menu .tab-cont > div.on {
    display: block;
}

.tab-panel.type01 .ceo-img {
    position: absolute;
    right: 0;
    bottom: 160px;
    width: clamp(390px, 33.33vw, 640px);
    height: clamp(329px, 28.13vw, 540px);
    background: url(./img/ceo_word_bg01.png) no-repeat right bottom/contain;
}

.tab-panel.type02 .ceo-img {
    position: absolute;
    right: 0;
    bottom: 160px;
    width: clamp(390px, 33.33vw, 640px);
    height: clamp(329px, 28.13vw, 540px);
    background: url(./img/ceo_word_bg02.png) no-repeat right bottom/contain;
}

.tab-panel.type03 .ceo-img {
    position: absolute;
    right: 0;
    bottom: 160px;
    width: clamp(390px, 33.33vw, 640px);
    height: clamp(329px, 28.13vw, 540px);
    background: url(./img/ceo_word_bg03.png) no-repeat right bottom/contain;
}

.tab-panel.type04 .ceo-img {
    position: absolute;
    right: 0;
    bottom: 160px;
    width: clamp(390px, 33.33vw, 640px);
    height: clamp(329px, 28.13vw, 540px);
    background: url(./img/ceo_word_bg04.png) no-repeat right bottom/contain;
}
