/* reset*/
@font-face {
    font-family: 'SpoqaHanSansNeo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'SpoqaHanSansNeo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'SpoqaHanSansNeo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}



* {font-family:'SpoqaHanSansNeo'; font-weight:400; font-size:16px; margin: 0; padding: 0; -webkit-box-sizing: border-box; box-sizing: border-box; word-break: keep-all; } 
html,body,p, input, select, form, label, mark, ul, ul li, ol, ol li, dl, dl dt, dl dd, img, a, table, h1, h2, h3, h4, h5 { margin:0; padding:0; } 
caption { position:absolute; overflow:hidden; width:0; height:0; font-size:0; line-height:0; top:0;left:-9999999px;} 
caption p { position:absolute; overflow:hidden; width:0; height:0; font-size:0; line-height:0; top:0;left:-9999999px;} 
a { text-decoration: none; display: inline-block;  } 
a:hover, a:active, a:visited { text-decoration:none !important; } 
.wrap { min-width:320px; } 
.sub_right { z-index:10; } 
.subtop { transform:translate(-50%,0); left:50%; } 
fieldset { border: 0; } 
address { font-style: normal; } 
li, ul, dl { list-style: none; } 
button {background-color: transparent;border: 0;cursor: pointer;}
table {border-collapse: collapse;border-spacing: 0;}
legend{position:absolute;left:-9999999px;top:0}
input {-webkit-appearance: none;-moz-appearance: none;appearance: none;border:0;}
input::-ms-clear { display: none; }
select {

   -webkit-appearance:none; /* for chrome */

   -moz-appearance:none; /*for firefox*/

   appearance:none;

}

select::-ms-expand{

   display:none;/*for IE10,11*/

}

/* reset ë*/