header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 174px;
    background: skyblue;
    z-index: 999;
}

footer {
    width: 100%;
    height: 610px;
    margin-top: 50px;
    background: pink;
}

.ceo-philosophy {
    position: relative;
    margin-top: 224px;
}

.d-pc{
    display: block;
}

.d-mb{
    display: none;
}

@media (max-width:420px) {
    .d-pc{
        display: none;
    }

    .d-mb{
        display: block;
    }
}

/* 회장님 경영 철학 */
.ceo-philosophy {
    width: 100%;
}

/* 탭 메뉴 */
.tab-menu {
    width: 100%;
}

.tab-list-wrap {
    max-width: 1480px;
    margin: 0 auto;
}

.tab-list-wrap.mo {
    display: none;
}

.tab-menu .tab-list {
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 28px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    z-index: 2;
    overflow-x: auto;
}

.tab-menu .tab-list::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */
}

.tab-menu .tab-list li {
    padding: 10px 20px;
    border-radius: 70px;
    border: 1px solid #ccc;
    background: #EDEDED;
    transition: all 0.25s;
    cursor: pointer;
}

.tab-menu .tab-list li a {
    width: 100%;
    font-size: 16px;
    color: #656565;
    font-weight: 500;
    text-align: center;
    letter-spacing: -0.64px;
    line-height: 20px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab-menu .tab-list li.on {
    border: none;
    background: #222;
    transition: all 0.25s;
}

.tab-menu .tab-list li.on a {
    font-weight: 700;
    color: #fff;
}

/* 슬라이드 */
.slide-wrap {
    position: relative;
    width: calc(100% - 40px);
    max-width: 1440px;
    margin: 0 auto;
    box-shadow: 0px 12px 12px 0px rgba(34, 34, 34, 0.35);
    max-height: 931px;
}

.slide-wrap.mo {
    display: none;
}

.swiper {
    overflow: visible;
}

.swiper-slide {
    width: 100%;
    max-width: 1440px;
    height: 100%;
    max-height: 930px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
    aspect-ratio : 48/31;
}

.swiper-slide > img {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* aspect-ratio : 48/31; */
}

img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

.swiper > .btn-wrap .swiper-button-prev,
.swiper > .btn-wrap .swiper-button-next {
    position: absolute;
    width: 48px;
    height: 48px;
    border: 1px solid #EAEAEA;
    border-radius: 50%;
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
    z-index: 5;
}

.swiper > .btn-wrap .swiper-button-prev {
    left: -64px;
    right: auto;
    background: url(./img/arrow_prev.png) no-repeat center/contain #F4F4F4;
}

.swiper > .btn-wrap .swiper-button-next {
    right: -64px;
    left: auto;
    background: url(./img/arrow_next.png) no-repeat center/contain #F4F4F4;
}

@media (max-width:1600px) {
    .swiper > .btn-wrap .swiper-button-prev {
        left: 20px;
    }

    .swiper > .btn-wrap .swiper-button-next {
        right: 20px;
    }
}

.swiper-button-next::after,
.swiper-button-prev::after {
    display: none;
}

@media (max-width:768px) {
    .tab-list-wrap {
        display: none;
    }
    
    .tab-list-wrap.mo {
        display: block;
    }
    .slide-wrap {
        display: none;
    }

    .slide-wrap.mo {
        display: block;
    }

    .swiper-slide {
        max-width: 768px;
        max-height: 993px;
        aspect-ratio : 14/18;
    }
}

@media (max-width:420px) {
    .swiper > .btn-wrap .swiper-button-prev,
    .swiper > .btn-wrap .swiper-button-next {
        top: auto;
        bottom: 12px;
        transform: translateY(0);
    }
}